
body {
    width: 100%;
    height: 100%;
    /*font-family: "Open Sans","Playfair+Display";*/
    font-family: Lora,Montserrat, "Helvetica Neue:700,400,300,200",Helvetica,Arial,sans-serif;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    color: #000;
    background-color: #FFF;

}
    /*#F4F3EE;*/

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

h1 {
  margin: 8px 0 5px;
  /*text-transform: uppercase;*/
  font-family: "Montserrat Alternates",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.8px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0 5px;
    /*text-transform: uppercase;*/
    font-family: "Montserrat Alternates",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: 'Alegreya Sans', sans-serif;*/
    /*font-family: "Open Sans","Playfair+Display";*/
    font-weight: 200 !important;
    letter-spacing: 0.8px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.jumbotron{
  margin-bottom: 0px;
}

.help-block {
    font-size: 10px;
    line-height: 1.5;
    text-align: right;

}

.twitter-share-button[style] { vertical-align: text-bottom !important;}
.centered_buttons { display: flex; justify-content: center;}

.activity-description{
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

p {
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 1.5;

}

.text-justi {
    text-align: justify;
    text-justify: inter-word;
  }

@media(min-width:768px) {
    p {
        margin: 0 0 25px;
        font-size: 18px;
        line-height: 1.6;
    }
    .activity-description{

      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;

    }
}

a {
    color: #007D8C;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #a8343d;
    cursor: pointer;
    cursor: hand;
   /* #1d9b6c;*/
}

.light {
    font-weight: 200;
}

#mini_footer {
     position:fixed;
     left:0px;
     bottom:0px;
     width:100%;
     background-color: #F4F3EE;
  }

#spinner_tool {
      position: absolute;
      height: 100px;
      width: 100px;
      top: 50%;
      left: 50%;
      z-index: 100;
      margin-left: -50px;
      margin-top: -50px;
      }

 ::-webkit-input-placeholder {
     font-style: italic;
  }
  :-moz-placeholder {
     font-style: italic;
  }
  ::-moz-placeholder {
     font-style: italic;
  }
  :-ms-input-placeholder {
     font-style: italic;
  }


/*Navbar Here*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: "Open Sans","Playfair+Display";*/
    background-color: #303030;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 0px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;

}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    text-shadow: 1px 1px 10px #fff;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(188,53,59,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(0,0,0,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 35px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom .navbar-brand {
        padding-top: 0px;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
        background: rgba(0,0,0,.8);
    }
}

.activity_btn{

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #a8343d;
}

.logo-main-1 {
  /*margin-top: 5px;*/
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-main-2 {
    margin-top: 6px;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0 0 0 0px;

}

@media (max-width:767px) {
    .logo-main-1 {
        margin-top: -2px;
        height: 30px;
    }
}

@media (max-width:767px) {

  .logo-main-2 {
        margin-top: -2px;
        height: 30px;

    }
}

.logo-smile {
  height: 60px;
  /*width: 200px;*/
}

.logo-alter {
  height: 50px;
  /*float: right;
  position: absolute;
  right: 0;*/

}

.intro {
  position: relative;
  padding-top: 60px;
  overflow: hidden;
  height: 475px;
  width: 100%;
  text-align: center;
  color: #fff;
 /* background-color: rgba(139, 139, 131, 0.4);*/
  /*background: url(../../static-storage/img/desk-01.jpg) no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.intro-box {
  /*background: url("/static/img/desk-01-r.jpg") no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width:767px) {
  .intro {
    padding-top: 20px;
    padding-right: 5px;
    /*background: url("/static/img/desk-01-r.jpg") no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 350px;

  }

  .intro-box {
    /*background: url("/static/img/desk-01-r.jpg") no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

}

.intro-content {
  text-align: center;
  color: #fff;
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.intro .intro-content .brand-heading {
    font-size: 46px;
    margin: 0 0 15px;
    text-shadow: 1px 1px 5px #000;
}

.intro .intro-content .intro-text {
    font-size: 20px;
    font-weight: 100 !important;
    text-shadow: 1px 1px 10px #000;

}

@media (max-width:769px) {

   .intro .intro-content .brand-heading {
        font-size: 28px;

    }

}

@media (max-width:767px) {
    .intro .intro-content .intro-text {
        font-size: 18px;
        font-weight: 100 !important;

    }
}

.header-1{
  font-size: 30px;
}

.header-2{
  font-size: 22px;
  font-weight: 100;
}

@media (max-width:767px) {

  .header-1{
    font-size: 20px;
  }
  .header-2{
    font-size: 14px;
    font-weight: 100;
  }

  }
video { display: block; }

.video-cover {
  position: absolute;
  top: -105px;
  width: 100%;
  height: auto;
  display: none;
  z-index: -1;
  /*background: url(/../../static-storage/img/desk-01.jpg) no-repeat center center;*/
  background-size: cover;
}

@media (min-width:768px) {
  .video-cover {
    display: block;
  }
}

#video-cover.collapsing {
  display:none;
}

.categories-section{
    width: 100%;
    height: 175px;
    margin-top: 2px;
    background-color: #F4F3EE;
    background-size: cover;
    /*display: inline-block;*/
    margin: 0 auto; /* Align slide image horizontally center */

}

@media (max-width:767px) {
  .categories-section {
    display: none;
  }
}

.MenuExp
{
  padding-bottom: 0;
}

.ExpCateg
{
  /*float: left;*/
  height: 200px;
  padding: 1px 1px 0 0;
  text-align: center;

}
.ExpCateg a
{
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}
.ExpCateg a:hover
{
  text-decoration: underline;
}
.ExpCateg img
{
  height: 145px;
  width: 145px;
  border-radius: 145px;
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  margin: 0 0 8px 0;
}

.ExpCategStyle
{
  margin-left: 15px;
  height: 200px;
  width: 150px;
  padding-top: 5px;
}

@media (max-width:1200px) {
  .ExpCategStyle {
    margin-left: -2px;
    height: 100px;
  }
  .ExpCateg img
{

  height: 125px;
  width: 125px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  margin: -10 0 8px 0;
 /* margin: 0 0 -3px 0;
  padding: 5px;*/

 }
}

@media (max-width:991px) {
  .ExpCategStyle {
    margin-left: -15px;
    height: 200px;
  }
  .ExpCateg img
{
  margin: 0 0 -3px 0;
  padding: 5px;

 }
}
.ExpCategStyle:hover
{

  background: #EAEBE3;
}

.cover-image {
      display: block;
    margin-left: auto;
    margin-right: auto
}

.content-section {
    margin-top: -25px;
    /*padding-top: 0px;*/
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
  background-color: #faebcc;
  border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
  color: #a8343d;
  background-color: #fff;
  border-color: #a8343d;
  border: 1px solid;
  border-radius: 10px 10px 0 0;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

.bfd-tabs{

  border-radius: 6px 6px 0 0;

  /*text-align: center;
  position: relative;
  display: block;
  background-color: rgba(255,237,160,.5);
  border: 1px solid;
  border-radius: 6px 6px 0 0;
  border-color: ##a8343d;*/
}



/*.nav>li>a {
    position: relative;
    display: block;
    padding: 1px 1px;
    background-color: #EAEBE3;
}*/


#map {
    width: 100%;
    height: 65%;
    margin-top: 25px;
    z-index: 0;

}

@media(min-width:767px) {
    .content-section {
        padding-top: 20px;
    }

}

.leaflet-popup-content {
      font:100 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      padding:0;
      width:120px;
      height: 90px;
      text-align: center;
      color: #F87923;
      }

      .leaflet-popup-content div {
        padding:5px;
        }




.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: -10px;
    padding: 7px 16px;

    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media (max-width:868px) and (min-width:767px){
  .btn-circle {
    margin-top: -75px;


    }
  }

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.2);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    white-space: normal;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #a8343d;
    color: #a8343d;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #a8343d;
    outline: 0;
    color: #fff;
    background-color: #a8343d;
}

ul.banner-social-buttons {
    margin-top: -15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 5px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        /*display: block;*/
        margin-bottom: 10px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/*Newsletter subscribe start here*/

.email-ico i {
    font-size: 36px;
    line-height: 72px;
}

.contact .form-group {
    text-align:center;
    position: relative;
    width: 100%;
    margin-bottom: 8px !important;
}
.contact {
    color: #8C8C8C;
    float: none;
    margin: -25px auto 0px auto;
}

.contact input {
    display:inline-block;
    background-color: rgba(0,0,0,.1);
    border: none;
    height: 45px;
    width: 85%;
    padding: 0 0 0 0px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form_btn{
  padding: 0 0 0 0px;
}

.contact submit {
    display:inline-block;
    background-color: rgba(0,0,0,.1);
    border: none;
    height: 60px;
    width: 60%;
    padding: 0 22% 0 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.contact .error:focus,
.contact .error {
    border: 1px solid #ff0000;
}
.contact label.error {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    position: absolute;
    right: 0;
    text-transform: none;
    top: -28px;
    border: none;
    background-color: #FF0000;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.contact .email-ico {
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 24px;
}

.form-respond .content-message {
    border-radius: 4px;
    margin: 0 0 50px;
    padding: 30px;
}
.form-respond .success {
    font-size: 24px;
    color: #000;
    background-color: green;
}
.form-respond .content-message {
    border-radius: 4px;
    margin: 0 0 50px;
    padding: 4px 8px;
    color: #000;
    background-color: #FF0000;
}
.form-respond .content-message h2,
.form-respond .content-message p {
    display: inline;
    font-size: 15px;
}
/*Newsletter subscribe end here*/

/*** Footer ***/
.footer {
  /*position:fixed;*/
  left:0px;
  bottom:0px;
  width:100%;
  background: #f8f9fa;
  color: #777;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.footer-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer li {
  margin-bottom: 10px;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  color: #999;
  text-decoration: none;
}
.footer .social-container {
  margin: 0;
  text-align: center;
}
.footer .social {
  padding: 10px;
}
.footer p.disclaimer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #a8343d;
}


.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}



.header {
  margin-top: 0;
  font-size: 48px;
  margin-bottom: 25px;
  font-weight: 700;
  text-shadow: 1px 1px 20px #000;
}
.sub-header {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 20px #000;
}
.call-to-action {
  background-color: #f39519;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  border: none;
  padding: 9px 27px;
  font-size: 16px;
  font-weight: bold;
}

#bannerLink {
  cursor: pointer;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
