{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %} {{title}} {% endblock %}
{% block content %}
{% include "navbar.html" %}
<br>
<main role="main">
	{% if messages %}
  <!-- messages -->
  <div class="container">
      {% for message in messages %}
      <div class="alert alert-dismissible {% if 'error' in message.tags %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
      </div>
      {% endfor %}
  </div>
  {% endif %}
	<div class="jumbotron">
			<div class="text-center">
	        	<h4><b>{% trans 'Attendees Registrations for' %}</b> <br>{{landing}}</h4> 
	        </div>
	  		<br>
	        <div>
	        <div class="table-responsive">
	        {% if object_list %}
			<table class="table table-bordered table-sm text-center">
			  <thead>
			    <tr>
			      <th scope="col">{% trans 'E-mail' %}</th>
			      <th scope="col">{% trans 'Name' %} </th>
			      <th scope="col">{% trans 'Phone Number' %}</th>
			      <th scope="col">{% trans 'When?' %}</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for object in object_list %}
			    <tr>
			      <td>{{object.email}}</td>
			      <td>{{object.name|default_if_none:"--"}}</td>
			      <td>{{object.phone_number|default_if_none:"--"}}</td>
			      <td>{{object.timestamp}}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>			
			{% else %}
			<h6 class="text-center"><b>{% trans 'Sorry, there were no attendees registered through this virtual room access page' %}</b></h6>
			{% endif %}
		 </div>
		 </div>
		 <a href="{% url 'virtualrooms:virtualroom-list' %}"  style="float:left;" class="btn btn-primary btn-sm">&laquo; {% trans 'My Virtual Rooms'%}</a>
	</div>
	
{% include 'footer.html' %} 
</main>
{% endblock %}