{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %} {{title}} {% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<br>
<main role="main">
  {% if messages %}
  <!-- messages -->
  <div class="container">
      {% for message in messages %}
      <div class="alert alert-dismissible {% if 'error' in message.tags %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
      </div>
      {% endfor %}
  </div>
  {% endif %}
<div class="jumbotron">
  <div class="text-center">
      <h4>{{activity.name}}</h4>
      <h3><b>{% trans 'Supporting Material' %}</b></h3>
      <br>
  </div>
  {% if files_list %}
  <div class="col-md-10 offset-md-1">
   
         <br>
         <div id="spinner_tool" class="spinner" style="display:none;">
           <i class="fa fa-spin fa-spinner fa-4x"></i>
         </div>
       <div class="panel panel-default table-responsive">
         <table class="table table-condensed table-striped text-center">
              <thead>
                <tr>
                    <th style="text-align:center"><small>{% trans "Material" %}</small></th>
                    <th style="text-align:center"><small>{% trans "Name" %}</small></th>
                    <th style="text-align:center"><small>{% trans "Description" %}</small></th>
                    <th style="text-align:center"><small>{% trans "Currently available?" %}</small></th>
                    <th style="text-align:center"><small></small></th>
                </tr>
              </thead>
              <tbody>
                {% for file in files_list %}
                <tr>
                  <td><b><a href="{{file.file.url}}" target="_blank">
                   {% trans 'See' %}</a></b><br><small>({{file.file_type}})</small></td>
                  <td><small>{{file.file_name}}</small></td>
                  <td><small>{{file.file_description|default:"-"}}</small></td>
                  <td><small>{{file.active|yesno:_("Yes,No")}}</small></td>
                  <td>
                  {% if file.active == False %}

                  <small><a href="#" id="activeFileBtn{{file.id}}" class="btn btn-link btn-sm" style="text-transform: capitalize">{% trans "Active" %}</a></small>
                   {% else %}
                   <small><a href="#" id="inactiveFileBtn{{file.id}}" class="btn btn-link btn-sm" style="text-transform: capitalize">{% trans "Inactive" %}</a></small>
                  {% endif %}
                  
                   <small><a href="#" id="deleteFileBtn{{file.id}}" class="btn btn-link btn-sm" style="text-transform: capitalize">{% trans "Delete" %}</a></small>                
                 </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
         </div>
  </div>
  <hr>
  {% endif %}
  <div class="row">
	 <div class="col-md-10 offset-md-1">
  		<div class="panel panel-default">
  		  	<div class="panel-body">
            {% if form %}
            <h6 class="text-center"><em>{% trans 'Upload the file, indicate the name and description of the supporting material' %}:</em></h6>
            
  					{{ form.media }}
  						<form id="room_materials_edit_form" class="form" role='form' method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
                <br>
  							{{ form | crispy }}
                <br>
  						<input type='submit' style="float:right;" value= "{% trans 'Save' %} &raquo;" class='btn btn-primary btn-lg '></input>
              <a href="{% url 'virtualrooms:virtualroom-list' %}" style="float:left;" class="btn btn-primary btn-sm">&laquo; {% trans 'My Virtual Rooms'%}</a>
  						</form>
  					{% endif %}
            <br>
          </div>
          <div id="spinner_tool" class="spinner text-center" style="display:none;">
            <i class="fa fa-spin fa-spinner fa-4x"></i>
            <br><br>
            <span class="label label-large label-info arrowed-in-right arrowed-in">
              Loading...
            </span>
          </div>
        </div>
    
    </div>
  </div>
</div>
{% include "footer.html" %}
</main>
{% endblock %}
{% block js %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){

  $('#room_materials_edit_form').submit(function() {
    $('#spinner_tool').show()
  });

  $('.alert').hide();
  setTimeout(function() {$(".alert").fadeIn();}, 800);
  setTimeout(function() {$(".alert").fadeOut();}, 2000);

 {% for file in files_list %}

 $('#activeFileBtn{{file.id}}').click(function(event){
   event.preventDefault();
   active_file_post{{file.id}}();
 });

 $('#inactiveFileBtn{{file.id}}').click(function(event){
   event.preventDefault();
   inactive_file_post{{file.id}}();
 });

  $('#deleteFileBtn{{file.id}}').click(function(event){
     event.preventDefault();
     delete_file_post{{file.id}}();
   });

function active_file_post{{file.id}}() {
  bootbox.confirm({
  title: '{% trans "Active Material?" %}',
  message: '{% trans "This material will be available for download. Confirm to validate:" %}',
  buttons: {
      cancel: {
          label: '<i class="fa fa-times"></i> {% trans "Cancel" %}',
          className: 'btn-primary btn-sm'
      },
      confirm: {
          label: '<i class="fa fa-check"></i> {% trans "Confirm" %}',
          className: 'btn-primary btn-sm'
      }
  },
  callback: function (result) {
    if (result === false) {

     } else {
       $.ajax({
           url : "{% url 'virtualrooms:ajax-active-session-material' %}",
           type : "POST",
           data : { id: {{file.id}}, csrfmiddlewaretoken: '{{ csrf_token }}' },
           beforeSend: function(){
             $('#spinner_tool').show()
                },
           complete: function(){
             $('#spinner_tool').hide();
                 },
           success : function(data) {
             if (data.status == 1){
               alert(data.result);
               location.reload();
              }
             if (data.status == 0){
               alert(data.error);
             }
           },
           error : function(xhr,errmsg,err) {
               $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                   " <a href='#' class='close'>&times;</a></div>");
           }
       });}

      }

    });
  }


function inactive_file_post{{file.id}}() {
  bootbox.confirm({
  title:  '{% trans "Inactive Material?" %}',
  message:  '{% trans "This material will not be available for download, please confirm to validate:" %}',
  buttons: {
      cancel: {
          label: '<i class="fa fa-times"></i> {% trans "Cancel" %}',
          className: 'btn-primary btn-sm'
      },
      confirm: {
          label: '<i class="fa fa-check"></i> {% trans "Confirm" %}',
          className: 'btn-primary btn-sm'
      }
  },
  callback: function (result) {
    if (result === false) {

     } else {
       $.ajax({
           url : "{% url 'virtualrooms:ajax-inactive-session-material' %}",
           type : "POST",
           data : { id: {{file.id}}, csrfmiddlewaretoken: '{{ csrf_token }}' },
           beforeSend: function(){
             $('#spinner_tool').show()
                },
           complete: function(){
             $('#spinner_tool').hide();
                 },
           success : function(data) {
             if (data.status == 1){
               alert(data.result);
               location.reload();
              }
             if (data.status == 0){
               alert(data.error);
             }
           },
           error : function(xhr,errmsg,err) {
               $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                   " <a href='#' class='close'>&times;</a></div>");
           }
       });}

      }

    });
  }


function delete_file_post{{file.id}}() {
          bootbox.confirm({
          title:  '{% trans "Delete Material?" %}',
          message: '{% trans "Confirm to permanently delete this file:" %}',
          buttons: {
              cancel: {
                  label: '<i class="fa fa-times"></i> {% trans "Cancel" %}',
                  className: 'btn-primary btn-sm'
              },
              confirm: {
                  label: '<i class="fa fa-check"></i> {% trans "Confirm" %}',
                  className: 'btn-primary btn-sm'
              }
          },
          callback: function (result) {
            if (result === false ) {

             } else {
               $.ajax({
                   url : "{% url 'virtualrooms:ajax-delete-session-material' %}",
                   type : "POST",
                   data : { id: {{file.id}}, csrfmiddlewaretoken: '{{ csrf_token }}' },
                   beforeSend: function(){
                     $('#spinner_tool').show()
                        },
                   complete: function(){
                     $('#spinner_tool').hide();
                         },
                   success : function(data) {
                     if (data.status == 1){
                      alert(data.result);
                      location.reload();

                      }
                     if (data.status == 0){
                       alert(data.error);
                     }
                   },
                   error : function(xhr,errmsg,err) {
                       $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                           " <a href='#' class='close'>&times;</a></div>");
                   }
               });}
               
             }

       });

      }


{% endfor %}
})
</script>
{% endblock js %}
